body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  color: #e81708;

}

.cell-counter-container,
.try-counter-container {
  margin: 4px 1rem;
}


.cell-counter, .try-counter {
  width: 2rem;
  border: 1px solid #000;
  padding: 2px 8px;
  border-radius: 0.5rem;
  text-align: center;
}

.map {
  margin-top: -3rem;
}